
/* @import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book); */
@font-face{
    font-family: "Recoleta";
    src: url(./Recoleta-RegularDEMO.otf) format("opentype");
}
@font-face{
    font-family: "Circular Std Book";
    src: url(./Circular-Std-Book.otf) format("opentype");
}
body{
    margin: 0;
    padding: 0;
    max-width: 1600px;
    font-family: 'Circular Std Book';
}
*{
    box-sizing: border-box;
}
/* Typography */
h1{
    font-family: 'Recoleta';
    font-size: 64px;
    line-height: 107.21%;
    color: #FFF8F8;
}
h1 span{
   color: #78e4d7 ; 
}
h2{
    font-family: Recoleta;
    font-size: 48px;
    line-height: 65px;
    color: #111028;
}
h4{
    font-family: Recoleta;
    font-size: 24px;
    line-height: 33px;
    color: #17162D;
}
.p-grey{
    font-family: Circular;
    font-size: 18px;
    line-height: 23px;
    color: #828282;
}
/* Header style start here */
header{
    background: #4031B7;
    padding-bottom: 9.625rem;
}
.header__contact{
    padding: 2.25rem 0;
    color:  #B6D2E3;
}

/* Nav Bar */
.navbar{
    max-width: 1160px;
    margin-bottom: 7rem;
    background: #4031B7;

}
#navbarSupportedContent{
    max-width: 929px;
}
.nav-link{
    font-size: 18px;
    line-height: 23px;
    color: #B6D2E3;
}
.nav-link:hover{
        text-decoration: none;
        color: #60CBBE;
    }

.header__hero-img{
    box-shadow: -35px 24px 0px 3px  rgba(48, 32, 175, 0.5);
    width: 100%;
}
.header__signup-btn, .header__login-btn{
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #B6D2E3;
    outline: none;
    background: none;
    border: none;
}
.header__signup-btn{
    font-size: 16px;
    line-height: 20px;
    border: 1px solid #B6D2E3;
    box-sizing: border-box;
    border-radius: 20px;
    padding: .5rem 1rem;
    }
/* Header hero */
.header__hero{
    max-width: 1345px;
}
.header__hero p{
    font-size: 20px;
    line-height: 32px;
    color: #B6D2E3;
    margin-top: 2.25rem;
}
@media only screen and (min-width:1150px) and (max-width:1576px){
    .header__hero{
        max-width: 1220px;
    }
}
.header__col-img{
    right: 0;
}
.header__book-btn{
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background: #60CBBE;
    border-radius: 50px;
    outline: none;
    border: none;
    padding: 12px 24px;
    margin-top: 3.25rem ;
}
.header__qustion-link{
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 2.375rem;
}
.header__qustion-link:hover{
    text-decoration: none;
    color: #60CBBE;
}
/* ***************** */
/* Main Section start here */
main{
    margin-top: 10rem;
}
 /* Purchase solution section */
 .purchase-solution{
     padding-bottom:  13rem;
 }
 .purchase-solution_desc{
    font-family: Circular;
    font-size: 18px;
    line-height: 23px;
    color: #4F4F4F;
    margin-top: 2rem;
 }
 .purchase-solution_cards{
     margin-top: 6rem;
 }
.purchase-solution__card-logo{
    width: 178px;
    height: 178px;
    border-radius:50% ;
    background: #4031B7;
}
.purchase-solution__card-title{
    font-family: Century;
    font-size: 24px;
    line-height: 29px;
    color: #17162D;
    margin-top: 2rem;
}
.purchase-solution__card-text{
    font-family: 'Circular';
    font-size: 14px;
    line-height: 18px;
    color: #828282;
    margin-top: 1rem;

}
/* Procurement section */
.procurement{
    padding-top: 7.35rem;
    padding-bottom: 13.75rem;
    background: #FBFAF9;;
}
.procurement h1{
    margin-bottom: 2rem;
}
.procurement img{
    margin-top: 5.5rem;
}
.procurement__cards{
margin-top: 5rem;
}
.procurement__cards p{
    font-size: 16px;
    line-height: 27px;
}
/*  Manage work Section*/
.manage-work{
    padding-top: 10.6rem;
    padding-bottom: 12.6rem;
    background: url(../img/Artboard.png) right no-repeat ;
    background-size: contain;

}

.manage-work__card-logo{
    width: 64px;
    height: 64px;
    background: #4031B7;
    border-radius: 50%;
    margin-right: 1rem;
}
.manage-work__img{
    width: 100%;
    height: 100%;
    max-height: 526px;
    
}
.manage-work__cards{
    margin-top: 3.875rem;
}
.manage-work__card p{
    font-size: 16px;
    line-height: 27px;
}